<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book list</title>
    <link rel="Stylesheet" href='style.css'/>

</head>
<body class = "twt-form">
    <h1>twt form page</h1>
    <form method="POST" action="/twt/add">
        <input placeholder = "contents" name="contents"/>
        <input type="date" name="created_on">
        <button type="submit">save</button>
    </form>
</body>
</html>