.flex-container {
  display: flex;
  justify-content: center;
}


html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}

.w3-main{
    margin-left:55px;
}

.container{
    margin-top: 50px;
}

.w3-row{
    padding: 10px;
    margin-bottom: 50px;
}

.nav-foot {
  position: fixed;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-top: 15px;
  bottom: 0px;
  left: 0px;
  background-color: #343A40;
  border-top: 1px solid #f7f7f7;
  color:#f7f7f7;
}

.navbar-custom {
  background-color: #ff5500 !important;
}