.flex-container {
  display: flex;
  justify-content: center;
}




.nav-foot {

  height: 60px;
  bottom: 0px;
  background-color: #343A40;
  border-top: 1px solid #f7f7f7;
  color: #343A40;

}

.foot-text{
  height: 0px;
  padding:20px;
  color: #f7f7f7;
}

.navbar-custom {
  background-color: #ff5500 !important;
}